<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="stylus">
#q-app
  background-image: url('/statics/summer-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

.q-notifications
  .q-btn
    color: white;
</style>
