<template>
  <q-layout view="lHr Lpr lFr">

    <Navbar />
    <Sidebar />

    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- <Footer /> -->

  </q-layout>
</template>

<script>
// import Footer from './parts/Footer'
import Navbar from './parts/Navbar'
import Sidebar from './parts/Sidebar'

export default {
  name: 'DefaultLayout',
  components: {
    // Footer,
    Navbar,
    Sidebar
  }
}
</script>
