<q-card :style="{width: '500px'}">
    <q-form>
      <!-- Champs titre -->
      <q-card-section>
        <div class="q-gutter-md">
          <q-input
            v-model="formEvent.title"
            placeholder="Ajoutez un titre"
            :color="formEvent.calendar.color"
            :error="$v.storeEvent.title.$invalid">
            <template v-slot:error>
              Vous devez fournir un libellé
            </template>
          </q-input>
        </div>
      </q-card-section>

      <q-card-section>
        <div class="row">

          <!-- Champs date de départ -->
          <div class="col-6 q-pr-sm">
            <q-input
              borderless
              v-model="formEvent.start"
              placeholder="jj/mm/aaaa hh:mm"
              :error="$v.formEvent.start.$invalid">
              <template v-slot:error>
                <span v-if="!$v.formEvent.start.required">
                  Veuillez choisir une date
                </span>
                <span v-else-if="!$v.formEvent.start.datetimeValidator">
                  Veuillez rentrer une date valide
                </span>
              </template>
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                    ref="proxy_start_date">
                    <q-date
                      v-model="formEvent.start"
                      :mask="displayDateFormat"
                      @input="() => $refs.proxy_start_date.hide()"
                      :color="formEvent.calendar.color"
                      :options="startFieldOptions" />
                  </q-popup-proxy>
                </q-icon>
              </template>
              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer" v-if="!formEvent.is_all_day">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                    ref="proxy_start_time">
                    <q-time
                      v-model="formEvent.start"
                      :mask="displayDateFormat"
                      @input="() => $refs.proxy_start_time.hide()"
                      :color="formEvent.calendar.color"
                      :option="startTimeFieldOptions"
                      format24h />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>

          <!-- Champs date de fin -->
          <div class="col-6 q-px-sm" v-show="!formEvent.is_all_day">
            <q-input
              borderless
              v-model="formEvent.end"
              placeholder="jj/mm/aaaa hh:mm"
              :error="$v.formEvent.end.$invalid">
              <template v-slot:error>
                <span v-if="!$v.formEvent.end.required">
                  Veuillez choisir une date
                </span>
                <span v-else-if="!$v.formEvent.end.datetimeValidator">
                  Veuillez rentrer une date valide
                </span>
              </template>
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                    ref="proxy_end_date">
                    <q-date
                      v-model="formEvent.end"
                      :mask="displayDateFormat"
                      @input="() => $refs.proxy_end_date.hide()"
                      :color="formEvent.calendar.color"
                      :options="endFieldOptions" />
                  </q-popup-proxy>
                </q-icon>
              </template>
              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer" v-show="!$v.formEvent.end.$invalid">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                    ref="proxy_end_time">
                    <q-time
                      v-model="formEvent.end"
                      :mask="displayDateFormat"
                      @input="() => $refs.proxy_end_time.hide()"
                      :color="formEvent.calendar.color"
                      :options="endTimeFieldOptions"
                      format24h />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>

        </div>
      </q-card-section>

      <q-card-section>
        <div class="q-gutter-md row items-start">

          <!-- Champs activité / catégorie -->
          <q-select
            outlined
            v-model="formEvent.calendar"
            :options="calendars"
            label="Activité"
            :style="{width: '50%'}"
            :color="formEvent.calendar.color"
            :error="$v.storeEvent.calendar_id.$invalid">
            <template v-slot:error>
              L'activité choisie est incorrecte
            </template>
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents">
                <q-item-section avatar>
                  <q-icon :name="scope.opt.icon" :color="scope.opt.color" />
                </q-item-section>
                <q-item-section>
                  <q-item-label v-html="scope.opt.label" />
                </q-item-section>
              </q-item>
            </template>
          </q-select>

          <!-- Switch pour basculer en journée complète -->
          <q-list>
            <q-item tag="label" v-ripple>
              <q-item-section>
                <q-item-label>Toute la journée</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-toggle
                  v-model="formEvent.is_all_day"
                  :color="formEvent.calendar.color" />
              </q-item-section>
            </q-item>
          </q-list>

        </div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="between">

        <div>
          <q-btn size="sm" flat
            v-if="!isNew"
            icon="fas fa-trash-alt"
            color="grey-8"
            @click="remove"
            :disabled="isDeleting"
            :loading="isDeleting" />
        </div>

        <div class="q-gutter-md" v-show="!isDeleting">
          <q-btn size="sm" flat
            v-if="isNew"
            label="Ajouter"
            icon="fas fa-check"
            :color="$v.$invalid ? 'grey-8' : 'positive'"
            @click="create"
            :loading="isCreating"
            :disabled="$v.$invalid" />
          <q-btn size="sm" flat
            v-if="!isNew"
            icon="fas fa-save"
            :color="$v.$invalid ? 'grey-8' : 'positive'"
            @click="update"
            :loading="isUpdating"
            :disabled="$v.$invalid" />
          <q-btn size="sm" flat
            color="grey-8"
            icon="fas fa-times"
            v-close-popup />
        </div>

      </q-card-actions>

    </q-form>
  </q-card>
