<template>
  <div class="fixed-center text-center bg-white q-pa-xl rounded-borders">
    <p>
      <img
        src="statics/svg/sad.svg"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-faded">Désolé, il n'y a rien du tout ici ...<strong>(404)</strong></p>
    <q-btn
      color="secondary"
      style="width:200px;"
      @click="$router.push('/')"
    >Revenir en arrière</q-btn>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
