<template>
  <div>

    <q-toolbar absolute class="text-primary bg-grey-2">
      <q-btn flat round dense icon="fas fa-angle-left" @click="calendarApi.prev()" />
      <q-toolbar-title class="text-center">{{ calendarViewTitle }}</q-toolbar-title>
      <q-btn flat round dense icon="fas fa-angle-right" @click="calendarApi.next()" />
    </q-toolbar>

    <q-page class="flex bg-white">
      <FullCalendar
        class="demo-app-calendar full-width q-pa-md rounded-borders"
        ref="fullCalendar"
        minTime="05:00:00"
        maxTime="22:00:00"
        :locale="calendarLocale"
        :selectable="true"
        :defaultView="calendarViewName"
        :header="false"
        :plugins="calendarPlugins"
        :weekends="calendarWeekends"
        :events="events"
        @datesRender="updateCalendarViewTitle"
        @select="onDatesSelect"
        @eventClick="onEventClick"
        @eventDrop="onEventChange"
        @eventResize="onEventChange" />
    </q-page>

    <q-footer bordered class="bg-grey-2 text-primary">
      <q-tabs
        no-caps
        inline-label
        active-color="primary"
        indicator-color="transparent"
        class="text-grey"
        align="justify"
        v-model="calendarViewName">
        <q-tab name="dayGridMonth" icon="fas fa-calendar-alt" />
        <q-tab name="timeGridWeek" icon="fas fa-calendar-week" />
        <q-tab name="timeGridDay" icon="fas fa-calendar-day" />
        <q-tab name="listWeek" icon="fas fa-list-alt" />
      </q-tabs>
    </q-footer>

    <q-dialog v-model="dialogOpened" persistent position="top" ref="dialog">
      <QuickEditEvent :calendar-event="eventParameter" v-if="eventParameter" @close="dialogOpened=false" />
    </q-dialog>

  </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import listPlugin from '@fullcalendar/list'
import interactionPlugin from '@fullcalendar/interaction'
import frLocale from '@fullcalendar/core/locales/fr'
import QuickEditEvent from '@components/QuickEditEvent'

import Calendar from '@models/calendar.model'
import Event from '@models/event.model'

export default {
  name: 'PageIndex',
  components: {
    FullCalendar,
    QuickEditEvent
  },
  data () {
    return {
      dialogOpened: false,
      eventParameter: false,
      calendarPlugins: [
        dayGridPlugin,
        timeGridPlugin,
        listPlugin,
        interactionPlugin
      ],
      calendarWeekends: true,
      calendarViewName: 'timeGridWeek',
      calendarApi: { },
      calendarViewTitle: '',
      calendarLocale: frLocale
    }
  },
  mounted: function (self) {
    Calendar.$fetch().then(this.reloadEvents)
  },
  methods: {
    reloadEvents: function () {
      Event.deleteAll()
      Event.$fetch({
        query: {
          from: this.$moment(this.calendarApi.view.activeStart).format('YYYY-MM-DD'),
          until: this.$moment(this.calendarApi.view.activeEnd).format('YYYY-MM-DD')
        }
      })
    },
    updateCalendarViewTitle: function () {
      this.calendarApi = this.$refs.fullCalendar.getApi()
      this.calendarViewTitle = this.calendarApi.view.title
      this.reloadEvents()
    },
    // Edition de l'événement
    onEventClick: function (calendarEvent) {
      this.eventParameter = Event.find(calendarEvent.event.id)
      this.dialogOpened = true
    },
    // Création d'un nouvel événement
    onDatesSelect: function (event) {
      this.eventParameter = new Event({
        start: this.$moment(event.start).format(),
        end: this.$moment(event.end).format()
      })
      this.dialogOpened = true
    },
    // Déplacement, redimensionnement de l'événement
    onEventChange: function (calendarEvent) {
      const changedAttributes = {
        start: this.$moment(calendarEvent.event.start).format(),
        end: this.$moment(calendarEvent.event.end).format()
      }
      // Mise à jour du store pour l'event soit déplacé visuellement
      Event.update({
        where: calendarEvent.event.id,
        data: changedAttributes
      })
      // Mise à jour en base
      Event.$update({
        params: { id: calendarEvent.event.id },
        data: changedAttributes
      })
    }
  },
  computed: {
    hiddenCalendars: () => Calendar.query()
      .where('is_visible', true).get()
      .map((calendar) => calendar.id),
    events: function (self) {
      return Event.query()
        .with('calendar')
        .where('calendar_id', value => self.hiddenCalendars.indexOf(value) !== -1).get()
        .map(function (event) {
          const calendar = Calendar.find(event.calendar_id)
          return {
            id: event.id,
            title: event.title,
            start: event.start,
            end: event.end,
            allDay: event.is_all_day,
            classNames: event.class_names,
            droppable: event.droppable,
            editable: event.editable,
            backgroundColor: calendar.backgroundColor,
            borderColor: calendar.borderColor
          }
        })
    }
  },
  watch: {
    dialogOpened: function (dialogState) {
      if (dialogState === false) {
        this.eventParameter = false
      }
    },
    calendarViewName: function (view) {
      this.calendarApi.changeView(view)
      this.reloadEvents()
    }
  }
}
</script>

<style lang='scss'>
// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
</style>
