<template>
  <q-page class="flex justify-center full-height items-center">
    <div class="row items-center full-height full-width q-pa-md">
      <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <q-card class="shadow-12">
          <q-card-section class="bg-blue-8 text-center text-white q-pt-lg" id="login-card-header">
            <q-img alt="Plan" src="statics/svg/login-screen.svg" transitition="fade" />
            <h2 class="q-my-sm">Plan</h2>
           </q-card-section>

          <q-card-section class="q-pb-md">
            <q-form class="q-px-md q-py-xl q-gutter-y-md" @submit="false">
              <q-input
                type="text"
                color="light-blue-7"
                outlined
                v-model="loginEmail"
                label="Email"
                autocomplete="username">
                <template v-slot:prepend>
                  <q-icon name="fas fa-envelope" class="text-blue-grey-3" />
                </template>
              </q-input>
              <q-input
                :type="isPasswordVisible ? 'text' : 'password'"
                color="light-blue-7"
                outlined
                v-model="loginPassword"
                label="Mot de passe"
                autocomplete="current-password">
                <template v-slot:prepend>
                  <q-icon name="fas fa-key" class="text-blue-grey-3" />
                </template>
                <template v-slot:append>
                  <q-icon
                    name="far fa-eye"
                    class="cursor-pointer"
                    :class="{ 'text-primary': isPasswordVisible }"
                    @click="isPasswordVisible = !isPasswordVisible" />
                </template>
              </q-input>
              <div class="row justify-center">
                <q-btn
                  type="submit"
                  color="light-blue-8"
                  size="20px"
                  text-color="white"
                  icon-right="fas fa-sign-in-alt"
                  label="Connexion"
                  class="full-width q-mt-lg"
                  no-caps
                  :loading="loading"
                  :disabled="loading"
                  @click="login()"
                />
              </div>
            </q-form>
            <div class="text-right q-pr-md">
              <q-btn
                to="/lost_password"
                icon="fas fa-glasses"
                flat
                size="12px"
                color="grey-7"
                label="Oups, J'ai perdu mes codes !" />
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'PageLogin',
  data () {
    return {
      loginEmail: '',
      loginPassword: '',
      isPasswordVisible: false,
      loading: false
    }
  },
  computed: mapState({
    loggingIn: state => state.authentication.status.loggingIn
  }),
  methods: {
    login: function () {
      if (this.loginEmail && this.loginPassword) {
        this.loading = true

        this.$store
          .dispatch('authentication/login', {
            email: this.loginEmail,
            password: this.loginPassword
          })
          .then((result) => {
            if (!this.$store.state.authentication.status.loggedIn) {
              this.loading = false
            }
          })
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
#login-card-header
  .q-img
    width:180px;
  h2
    letter-spacing: 10px;
</style>
