<template>
  <q-footer bordered class="bg-grey-2 text-primary">
    <q-tabs
      no-caps
      inline-label
      active-color="primary"
      indicator-color="transparent"
      class="text-grey"
      v-model="activeTab">
      <q-tab name="dayGridMonth" label="Mois" icon="fas fa-calendar-alt" />
      <q-tab name="timeGridWeek" label="Semaine" icon="fas fa-calendar-week" />
      <q-tab name="timeGridDay" label="Jour" icon="fas fa-calendar-day" />
      <q-tab name="listWeek" label="Liste" icon="fas fa-list-alt" />
    </q-tabs>
  </q-footer>
</template>

<script>

export default {
  name: 'Footer',
  data () {
    return {
      activeTab: 'timeGridWeek'
    }
  },
  methods: {

  }
}
</script>
