<template>
  <q-header absolute>
    <q-toolbar>
      <q-btn flat round @click="toggleSidebar()" aria-label="Menu" size="sm">
        <q-icon name="fas fa-bars" />
      </q-btn>
      <q-toolbar-title>
        Plan
      </q-toolbar-title>
      <q-input class="gt-xs" dark dense standout v-model="searchText">
        <template v-slot:append>
          <q-icon v-if="searchText === ''" name="fas fa-search fa-sm" />
          <q-icon v-else name="fas fa-eraser" class="cursor-pointer" @click="searchText = ''" />
        </template>
      </q-input>
      <q-btn flat round icon="fas fa-ellipsis-v" size="sm" class="q-ml-sm">
        <q-menu transition-show="fade" transition-hide="fade" :offset="[0, 20]">
          <q-item clickable v-close-popup @click="logout">
            <q-item-section avatar>
              <q-icon name="fas fa-power-off" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Quitter l'application</q-item-label>
            </q-item-section>
          </q-item>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </q-header>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Navbar',
  data () {
    return {
      searchText: ''
    }
  },
  methods: {
    toggleSidebar () {
      if (this.isSidebarOpen) {
        this.$store.dispatch('layout/closeSidebar')
      } else {
        this.$store.dispatch('layout/openSidebar')
      }
    },
    ...mapActions({
      logout: 'authentication/logout'
    })
  },
  computed: mapState({
    isSidebarOpen: state => state.layout.sidebar
  })
}
</script>
