<template>
  <q-drawer
    v-model="isSidebarOpen"
    show-if-above
    bordered
    content-class="bg-grey-2"
    :breakpoint="500"
    :width="300">
    <div class="column full-height">
      <div class="col">
        <q-scroll-area class="full-height full-width">
          <div class="text-center q-pt-lg q-pb-xl bg-primary">
            <q-img alt="Plan" src="statics/svg/sidebar-header.svg" transitition="fade" />
          </div>
          <q-list>
            <q-item-label header>Suivi des activités</q-item-label>
            <q-item v-show="calendarsLoading">
              <q-spinner color="primary" size="3em" :thickness="2" class="q-mx-auto" />
            </q-item>
            <q-item
              clickable
              v-ripple
              @click="toggleEvents(calendar)"
              v-for="calendar in calendars"
              :key="'calendar-'+calendar.id"
              :class="'text-' + calendar.is_visible ? calendar.colorName : inactiveColor"
              :active="calendar.is_visible">
              <q-item-section avatar>
                <q-avatar
                  v-show="!calendar.loading"
                  :icon="calendar.is_visible ? 'far fa-folder-open' : 'fas fa-folder'"
                  :color="calendar.is_visible ? calendar.colorName : 'white'"
                  :text-color="!calendar.is_visible ? inactiveColor : 'white'" />
                <q-avatar v-show="calendar.loading"><q-spinner-dots /></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ calendar.name }}</q-item-label>
              </q-item-section>
            </q-item>

          </q-list>
        </q-scroll-area>
      </div>

      <div class="col col-auto">
        <q-separator />
        <q-list>
          <q-item clickable v-ripple class="text-grey-9">
            <q-item-section avatar>
              <q-icon name="fas fa-sliders-h" />
            </q-item-section>
            <q-item-section>
              Personnaliser
            </q-item-section>
          </q-item>
        </q-list>
      </div>

    </div>

  </q-drawer>
</template>

<script>
import Calendar from '@models/calendar.model'

export default {
  name: 'Sidebar',
  data () {
    return {
      inactiveColor: 'grey-6'
    }
  },
  methods: {
    toggleEvents: function (calendar) {
      Calendar.update({
        id: calendar.id,
        is_visible: !calendar.is_visible
      })
    }
  },
  computed: {
    isSidebarOpen: {
      get () {
        return this.$store.state.layout.sidebar
      },
      set (value) {
        if (value) {
          this.$store.dispatch('layout/openSidebar')
        } else {
          this.$store.dispatch('layout/closeSidebar')
        }
      }
    },
    calendars: (self) => self.$store.getters['entities/calendars/all'](),
    calendarsLoading: (self) => self.$store.getters['entities/calendars/loading']
  }
}
</script>

<style lang="stylus" scoped>
.q-drawer
  .q-img
    width: 120px;
</style>
